@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', 'sans-serif';
    --breakpoint-xmd:54.69rem;
}



@utility gradient-bg {
    background:linear-gradient(109deg, rgba(54, 54, 245, 1) 0%, rgba(238, 130, 238, 1) 42%, rgba(233, 198, 93, 1) 100%);
}

